{% extends 'base-proto.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/livret.css') }}">
{% endblock %}

{% block body %}
<input style="text-align: center; width: 265px; cursor: pointer" type="button" class="btn-primary col-md-offset-5" value="Gérer mes domaines d'investissement"/>
    <div class="container">
        <h2>Votre LivrEthique</h2>
        <p>Période du mois de novembre</p>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th>Action</th>
                <th>Débiteur/Créditeur</th>
                <th>Label de l'opération</th>
                <th>Prix</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in historique %}
            <tr>
                <td>
                {% if transaction.debiteur is defined %}
                    <span style="color:lightcoral">Débit</span>
                {% else %}
                    <span style="color:lightgreen">Crédit</span>
                {% endif %}
                </td>
                <td>
                {% if transaction.debiteur is defined %}
                    {{ transaction.debiteur }}
                {% else %}
                    {{ transaction.crediteur }}
                {% endif %}
                </td>
                <td> {{ transaction.label }}</td>
                <td>
                    {% if transaction.solde is defined %}
                        -{{ transaction.solde }}
                    {% else %}
                        +{{ transaction.credit }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <td></td>
            <td></td>
            <td></td>
            <td>1200€</td>
            </tfoot>
        </table>
    </div>
    <script>
        $(".container").hide().fadeIn(1000);
    </script
{% endblock %}