<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}LivrEthique{% endblock %}</title>
        {% block stylesheets %}
            <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/slick.css')}}">
            <link rel="stylesheet" href="{{ asset('js/rs-plugin/css/settings.css') }}">
            <script type="text/javascript" src="{{ asset('js/modernizr.custom.32033.js') }}"></script>
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <link rel="stylesheet" href="{{ asset('css/mainHeader.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block menu %}
            <nav class="navbar navbar-default tp-banner-container">
                <section id=section_1">
                    <div class=container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
                        </div>
                        <div class=section-heading scrollpoint sp-effect3">
                            <h1>LivrEthique</h1>
                            <div class=divider"></div>
                            <p>Ethiquement responsable</p>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="{{ app.request.get('_route') == 'all_news_news' ? 'active' }}"><a href="{{ path('news') }}">Accueil</a></li>
                                <li class="{{ app.request.get('_route') == 'all_user_info' ? 'active' }}"><a href="{{ path('info') }}">Mes informations</a></li>
                                <li class="{{ app.request.get('_route') == 'all_user_info' ? 'active' }}"><a href="{{ path('livret') }}">Mon livrEthique</a></li>
                            </ul>
                            <form class="navbar-form navbar-left">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="...">
                                </div>
                                <button type="submit" class="btn btn-default">Rechercher</button>
                            </form>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </section>
            </nav>
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
