{% extends 'base-proto.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/news.css') }}">
{% endblock %}

{% block body %}
    {% for news in newstab %}
        <div class="news_block">
           <a href="#"><h2>{{ news.title }}</h2></a>
            <i>{{ news.newsCategoryId }} | Mis en ligne aujourd'hui</i>
            <div class="content">
                <img src="https://positivr.fr/wp-content/uploads/2015/12/greenpeace-lobby-cop21-piege-scientifiques-corruption-2.jpg"/>
                <p> {{ news.content }} </p>
            </div>
        </div>
    {% endfor %}
    <script>
        $(".news_block").hide().fadeIn(3000);
    </script>
{% endblock %}